$second-font: 18px;
$third-font: 24px;
$primary-line-height: 140%;

$medium: 500;
$semibold: 600;
$bold: 700;

$second-color: #333;
$third-color: #f7ece1;
$back-color: #8d86c9;

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin p14m {
  font-weight: $medium;
  line-height: $primary-line-height;
}

@mixin p18sb {
  font-size: $second-font;
  font-weight: $semibold;
  line-height: $primary-line-height;
}

@mixin p24b {
  font-weight: $bold;
  font-size: $third-font;
  line-height: $primary-line-height;
}

h1 {
  font-weight: $bold;
  font-size: 48px;
  line-height: $primary-line-height;
}

h2 {
  font-weight: $bold;
  font-size: 36px;
  line-height: $primary-line-height;
}

h3 {
  font-weight: $bold;
  font-size: 27px;
  line-height: $primary-line-height;
}

h4 {
  font-weight: $semibold;
  font-size: 21px;
  line-height: $primary-line-height;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #e5e5e5;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 100%;

  &__inner {
    @include flex-center();
    padding: 2.8vh 0 2.8vh;

    .menu__list {
      display: flex;
      gap: 2.08vw;
      align-items: center;
      height: 100%;

      &-item {
        transition: all 200ms linear;
        border-bottom: solid 2px transparent;
      }

      &-item:hover {
        border-color: inherit;
        cursor: pointer;
      }

      &-link:hover {
        cursor: pointer;
      }
    }
  }

  &__burger {
    display: none;
  }

  .social {
    display: flex;
    gap: 1.04vw;

    &__item {
      transition: all 200ms linear;
    }

    &__item:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.main {
  flex-grow: 1;
}

.top {
  background-image: url(../img/top_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 28.3vh;
  margin-bottom: 13.9vh;

  &__title {
    max-width: 600px;
    margin-bottom: 5.6vh;
  }

  &__btn {
    @include p18sb();
    width: 280px;
    padding: 15px 0 15px 110px;
    text-align: left;
    position: relative;
    margin-bottom: 18.7vh;

    &::before {
      content: url(../img/vector/top_btn.svg);
      position: absolute;
      left: 0;
      top: 0;
      transition: all 200ms linear;
    }

    &:hover::before {
      transform: scale(1.04);
    }
  }

  &__list {
    @include flex-center();

    &-item {
      width: min(315px, 24%);
      background: $back-color;
      padding: 35px 0 40px 35px;
      position: relative;
      transition: all 200ms linear;
    }

    &-category {
      @include p18sb();
      margin-bottom: 1.6vh;
    }

    &-link {
      @include p24b();

      &::after {
        content: url(../img/vector/top_list-link.svg);
        position: absolute;
        right: 40px;
        transition: all 200ms linear;
      }

      &:hover::after {
        transform: scale(1.1);
      }
    }
  }
}

.advantages {
  margin-bottom: 13.9vh;

  .container {
    @include flex-center();
  }

  &__item {
    padding: 25px 20px;
    border: 1px solid #f7ece1;
    transition: all 300ms linear;
    position: relative;

    &-img {
      max-width: 416px;
    }

    &-text {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5rem;
      margin: 0 auto;
    }
  }
}

.about {
  margin-bottom: 13.9vh;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    margin-right: -86px;
    z-index: 2;
  }

  &__right {
    padding: 70px 60px 84px 146px;
    background-color: #f7ece1;
    max-width: 636px;
    color: $second-color;
  }

  &__title {
    margin-bottom: 2.3vh;
  }

  &__text {
    line-height: $primary-line-height;
    margin-bottom: 3.24vh;
  }

  &__subtitle {
    margin-bottom: 2.3vh;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;

    &-item {
      position: relative;
    }

    &-item::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $back-color;
      position: absolute;
      left: -30px;
      top: 2px;
    }
  }
}

.trainer {
  margin-bottom: 13.9vh;

  &__swiper {
    width: 100%;
  }

  &__top {
    @include flex-center();
    margin-bottom: 7.13vh;
  }

  &__title {
    color: $second-color;
  }

  &__item {
    width: 196px;
    text-align: center;
    color: $second-color;
    line-height: $primary-line-height;

    &-img {
      border: 1px solid #f7ece1;
      padding: 0 15px;
      margin-bottom: 2.3vh;
    }

    &-title {
      margin: 0 auto 15px;
      max-width: min-content;
    }
  }

  &__arrows {
    display: flex;
    gap: 15px;

    &-item {
      display: inline-block;
      height: 45px;
      width: 45px;
      background-color: $back-color;
      transition: all 200ms linear;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-item:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &-item:first-child {
      background-image: url(../img/vector/trainer_arrows_left.svg);
    }

    &-item:last-child {
      background-image: url(../img/vector/trainer_arrows_right.svg);
    }
  }
}

.price_services > .container {
  margin-bottom: 13.9vh;
  display: flex;
  justify-content: space-between;
}

.price {
  &__title {
    margin-bottom: 6.94vh;
    color: $second-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    width: min(526px, 90vw);
    background-color: $back-color;
    transition: all 200ms linear;

    &:hover {
      transform: translate(-1.5%) scale(1.03);
    }

    &-link {
      padding: 15.5px 15px 15.5px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-arrow {
      content: url(../img/vector/trainer_arrows_left.svg);
    }
  }
}

.services {
  overflow: hidden;
  width: 49%;

  &__top {
    @include flex-center();
    margin-bottom: 9.7vh;
  }

  &__title {
    color: $second-color;
  }

  &__arrows {
    display: flex;
    gap: 15px;

    &-item {
      width: 45px;
      height: 45px;
      background-color: $back-color;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-item:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &-item:first-child {
      background-image: url(../img/vector/trainer_arrows_left.svg);
    }

    &-item:last-child {
      background-image: url(../img/vector/trainer_arrows_right.svg);
    }
  }

  &__content {
    padding: 30px 25px;
    border: 1px solid $third-color;
    width: fit-content;

    &-img {
      width: 100%;
    }

    &-title {
      position: absolute;
      z-index: 1;
      left: 65px;
      bottom: 60px;
    }
  }
}

.header-news {
  text-align: center;
  background: url(../img/news_header_back.jpg) no-repeat;
  background-size: cover;
  padding: 2.8vh 0 5.6vh;
  position: static;
  margin-bottom: 7.4vh;
}

.news {
  margin-bottom: 11.1vh;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
  }

  &__item {
    padding: 30px 40px;
    border: 1px solid $third-color;
    display: flex;
    flex-direction: column;

    &-img {
      margin-bottom: 2.3vh;
    }

    &-date {
      margin-bottom: 1.4vh;
      line-height: $primary-line-height;
      opacity: 0.5;
    }

    &-text {
      margin-bottom: 1.85vh;
      color: $second-color;
    }

    &-btn {
      padding: 10px 20px;
      @include p18sb();
      background-color: $back-color;
      max-width: 137px;
      margin-top: auto;
      transition: all 200ms linear;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.header-club {
  text-align: center;
  background: url(../img/about_header_back.jpg) no-repeat;
  background-size: cover;
  padding: 2.8vh 0 5.6vh;
  position: static;
  margin-bottom: 7.4vh;
}

.slider {
  margin-bottom: 13.9vh;

  &__top {
    @include flex-center();
    margin-bottom: 9.7vh;
  }

  &__title {
    color: $second-color;
  }

  &__arrows {
    display: flex;
    gap: 15px;

    &-item {
      width: 45px;
      height: 45px;
      background-color: $back-color;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-item:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &-item:first-child {
      background-image: url(../img/vector/trainer_arrows_left.svg);
    }

    &-item:last-child {
      background-image: url(../img/vector/trainer_arrows_right.svg);
    }
  }

  &__content {
    position: relative;
    padding: 30px 25px;
    border: 1px solid $third-color;
    width: min-content;
    align-self: center;
    margin: 0 auto;

    &-img {
      width: min(90vw, 1256px);
    }

    &-btn {
      @include p18sb();
      position: absolute;
      z-index: 1;
      left: 5%;
      bottom: 13%;
      padding: 10px 20px;
      background-color: $back-color;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.club-about {
  margin-bottom: 13.9vh;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    margin-right: -86px;
    z-index: 2;
  }

  &__right {
    padding: 70px 60px 84px 146px;
    background-color: #f7ece1;
    max-width: 856px;
    color: $second-color;
  }

  &__title {
    margin-bottom: 2.3vh;
  }

  &__text {
    line-height: $primary-line-height;
    margin-bottom: 3.24vh;
  }

  &__list {
    display: flex;
    gap: 20px;
    padding-left: 30px;

    &-item {
      display: flex;
      align-items: center;
      gap: 17px;

      &-text {
        font-weight: 700;
        line-height: $primary-line-height;
        min-width: 132px;
      }
    }
  }
}

.rules {
  color: $second-color;
  margin-bottom: 11.1vh;

  &__title {
    margin-bottom: 7.4vh;
  }

  &__block {
    display: flex;
    gap: 74px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 1.7em;

    &-item {
      min-width: 366px;
      font-weight: 600;
      font-size: 21px;
      line-height: $primary-line-height;
      transition: all 200ms ease-in;

      &:hover {
        transform: translate(15px);
        cursor: pointer;
        color: $back-color;
      }
    }
  }

  &__content {
    &-list {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: 3.7vh;
      }
    }

    &-item {
      &-title {
        @include p18sb();
        margin-bottom: 2.3vh;
      }

      &-text {
        margin-bottom: 2.3vh;
        line-height: 140%;
      }
    }

    &-rule {
      display: flex;
      align-items: center;
      gap: 15px;

      &:not(:last-child) {
        margin-bottom: 1.4vh;
      }

      &::before {
        display: inline-flex;
        background: $back-color;
        width: 15px;
        height: 3px;
        content: "";
      }
    }
  }
}

.footer {
  background-color: #f7ece1;
  color: #333;

  .container {
    @include flex-center();
    padding: 30px 10px;
  }

  &__text {
    opacity: 0.3;
  }

  &__list {
    display: flex;
    gap: 2.08vw;

    &-item {
      transition: all 200ms linear;
      border-bottom: 2px solid transparent;
      &:hover {
        border-color: inherit;
      }
    }
  }

  &__social {
    display: flex;
    gap: 1.04vw;

    &-item {
      transition: all 200ms linear;
    }

    &-item:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1350px) {
  .news {
    .container {
      grid-row-gap: 12px;
      grid-column-gap: 12px;
    }

    &__item {
      padding: 15px 20px;
    }
  }
}

@media (max-width: 1280px) {
  $second-font: 16px;
  $third-font: 18px;
  $primary-line-height: 120%;

  @mixin p14m {
    font-weight: $medium;
    line-height: $primary-line-height;
  }

  @mixin p18sb {
    font-size: $second-font;
    font-weight: $semibold;
    line-height: $primary-line-height;
  }

  @mixin p24b {
    font-weight: $bold;
    font-size: $third-font;
    line-height: $primary-line-height;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 21px;
  }

  .top {
    padding-top: 25.3vh;

    &__title {
      max-width: 550px;
    }

    &__list {
      justify-content: center;
      gap: 5px;

      &-item {
        padding: 15px 0 20px 15px;
        max-width: 200px;
      }

      &-category {
        @include p18sb();
      }

      &-link {
        @include p24b();

        &::after {
          right: 7px;
          bottom: 10px;
        }
      }
    }
  }

  .advantages {
    .container {
      gap: 10px;
    }

    &__item {
      padding: 20px 15px;

      &-img {
        max-width: 320px;
      }

      &-text {
        bottom: 4rem;
        margin: 0 15px;
      }
    }
  }

  .trainer {
    margin: 0 auto 13.9vh;
  }

  .price_services {
    .container {
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 100px;
    }

    .price {
      display: block;
    }

    .services {
      display: block;
      width: 80%;

      &__content {
        width: fit-content;
      }
    }
  }

  .news {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 1100px) {
  .advantages {
    .container {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .about {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__list {
      text-align: left;
    }

    &__left {
      margin: 0 0 -60px;

      img {
        max-width: 90vw;
      }
    }

    &__right {
      padding: 70px 15px 40px;
      max-width: 780px;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    .container {
      justify-content: space-around;
    }

    &__list {
      display: none;
    }
  }

  .trainer {
    &__item {
      width: 186px;
      &-img {
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 810px) {
  $second-font: 14px;
  $third-font: 16px;
  $primary-line-height: 100%;

  @mixin p14m {
    font-weight: $medium;
    line-height: $primary-line-height;
  }

  @mixin p18sb {
    font-size: $second-font;
    font-weight: $semibold;
    line-height: $primary-line-height;
  }

  @mixin p24b {
    font-weight: $bold;
    font-size: $third-font;
    line-height: $primary-line-height;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .header {
    .logo {
      margin: 0 auto;
    }

    .menu__list {
      position: absolute;
      background-color: $back-color;
      width: 100vw;
      height: min-content;
      left: 0;
      top: -100vh;
      flex-direction: column;
      padding: 100px 0 50px;
      font-size: 28px;
      z-index: 1;
      transition: all 500ms linear;

      &-item {
        padding: 5px 0;
        width: 100vw;
        text-align: center;
        border: none;
        cursor: none;

        &:hover {
          transform: none;
          border: none;
          cursor: none;
        }
      }
    }

    .social {
      position: absolute;
      left: -100px;
      z-index: 1;
      transition: all 500ms linear;

      &__item:hover {
        transform: none;
        cursor: default;
      }
    }

    &__burger {
      display: flex;
      flex-direction: column;
      gap: 7px;
      position: relative;
      z-index: 1;

      &-item {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: 200ms linear;
      }
    }
  }

  .top {
    &__title {
      max-width: 430px;
    }

    &__list {
      max-width: 440px;
      flex-wrap: wrap;
      margin: 0 auto;
      &-item {
        width: 200px;
      }
    }
  }

  .price {
    &__item:hover {
      transform: none;
    }
  }

  .services {
    &__content {
      &-title {
        left: 7%;
        bottom: 15%;
      }
    }
  }

  .news {
    .container {
      grid-template-columns: 1fr;
    }

    &__item {
      padding: 10px 15px;
    }
  }
}

@media (max-width: 600px) {
  .advantages {
    &__item {
      &-img {
        max-width: 90vw;
      }
    }
  }

  .services {
    &__content {
      padding: 20px 15px;
      &-img {
        max-width: 85vw;
      }
    }
  }

  .news {
    &__item {
      &-img {
        width: 100%;
      }
    }
  }
}
