
.container{
  background-color: gray;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 12px;
}

.header__inner{
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}