h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

h3 {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
}

h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #e5e5e5;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8vh 0 2.8vh;
}
.header__inner .menu__list {
  display: flex;
  gap: 2.08vw;
  align-items: center;
  height: 100%;
}
.header__inner .menu__list-item {
  transition: all 200ms linear;
  border-bottom: solid 2px transparent;
}
.header__inner .menu__list-item:hover {
  border-color: inherit;
  cursor: pointer;
}
.header__inner .menu__list-link:hover {
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header .social {
  display: flex;
  gap: 1.04vw;
}
.header .social__item {
  transition: all 200ms linear;
}
.header .social__item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  flex-grow: 1;
}

.top {
  background-image: url(../img/top_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 28.3vh;
  margin-bottom: 13.9vh;
}
.top__title {
  max-width: 600px;
  margin-bottom: 5.6vh;
}
.top__btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  width: 280px;
  padding: 15px 0 15px 110px;
  text-align: left;
  position: relative;
  margin-bottom: 18.7vh;
}
.top__btn::before {
  content: url(../img/vector/top_btn.svg);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 200ms linear;
}
.top__btn:hover::before {
  transform: scale(1.04);
}
.top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__list-item {
  width: min(315px, 24%);
  background: #8d86c9;
  padding: 35px 0 40px 35px;
  position: relative;
  transition: all 200ms linear;
}
.top__list-category {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 1.6vh;
}
.top__list-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.top__list-link::after {
  content: url(../img/vector/top_list-link.svg);
  position: absolute;
  right: 40px;
  transition: all 200ms linear;
}
.top__list-link:hover::after {
  transform: scale(1.1);
}

.advantages {
  margin-bottom: 13.9vh;
}
.advantages .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__item {
  padding: 25px 20px;
  border: 1px solid #f7ece1;
  transition: all 300ms linear;
  position: relative;
}
.advantages__item-img {
  max-width: 416px;
}
.advantages__item-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5rem;
  margin: 0 auto;
}

.about {
  margin-bottom: 13.9vh;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__left {
  margin-right: -86px;
  z-index: 2;
}
.about__right {
  padding: 70px 60px 84px 146px;
  background-color: #f7ece1;
  max-width: 636px;
  color: #333;
}
.about__title {
  margin-bottom: 2.3vh;
}
.about__text {
  line-height: 140%;
  margin-bottom: 3.24vh;
}
.about__subtitle {
  margin-bottom: 2.3vh;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}
.about__list-item {
  position: relative;
}
.about__list-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #8d86c9;
  position: absolute;
  left: -30px;
  top: 2px;
}

.trainer {
  margin-bottom: 13.9vh;
}
.trainer__swiper {
  width: 100%;
}
.trainer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.13vh;
}
.trainer__title {
  color: #333;
}
.trainer__item {
  width: 196px;
  text-align: center;
  color: #333;
  line-height: 140%;
}
.trainer__item-img {
  border: 1px solid #f7ece1;
  padding: 0 15px;
  margin-bottom: 2.3vh;
}
.trainer__item-title {
  margin: 0 auto 15px;
  max-width: -moz-min-content;
  max-width: min-content;
}
.trainer__arrows {
  display: flex;
  gap: 15px;
}
.trainer__arrows-item {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: #8d86c9;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
}
.trainer__arrows-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.trainer__arrows-item:first-child {
  background-image: url(../img/vector/trainer_arrows_left.svg);
}
.trainer__arrows-item:last-child {
  background-image: url(../img/vector/trainer_arrows_right.svg);
}

.price_services > .container {
  margin-bottom: 13.9vh;
  display: flex;
  justify-content: space-between;
}

.price__title {
  margin-bottom: 6.94vh;
  color: #333;
}
.price__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.price__item {
  width: min(526px, 90vw);
  background-color: #8d86c9;
  transition: all 200ms linear;
}
.price__item:hover {
  transform: translate(-1.5%) scale(1.03);
}
.price__item-link {
  padding: 15.5px 15px 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__item-arrow {
  content: url(../img/vector/trainer_arrows_left.svg);
}

.services {
  overflow: hidden;
  width: 49%;
}
.services__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.7vh;
}
.services__title {
  color: #333;
}
.services__arrows {
  display: flex;
  gap: 15px;
}
.services__arrows-item {
  width: 45px;
  height: 45px;
  background-color: #8d86c9;
  background-position: center;
  background-repeat: no-repeat;
}
.services__arrows-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.services__arrows-item:first-child {
  background-image: url(../img/vector/trainer_arrows_left.svg);
}
.services__arrows-item:last-child {
  background-image: url(../img/vector/trainer_arrows_right.svg);
}
.services__content {
  padding: 30px 25px;
  border: 1px solid #f7ece1;
  width: -moz-fit-content;
  width: fit-content;
}
.services__content-img {
  width: 100%;
}
.services__content-title {
  position: absolute;
  z-index: 1;
  left: 65px;
  bottom: 60px;
}

.header-news {
  text-align: center;
  background: url(../img/news_header_back.jpg) no-repeat;
  background-size: cover;
  padding: 2.8vh 0 5.6vh;
  position: static;
  margin-bottom: 7.4vh;
}

.news {
  margin-bottom: 11.1vh;
}
.news .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}
.news__item {
  padding: 30px 40px;
  border: 1px solid #f7ece1;
  display: flex;
  flex-direction: column;
}
.news__item-img {
  margin-bottom: 2.3vh;
}
.news__item-date {
  margin-bottom: 1.4vh;
  line-height: 140%;
  opacity: 0.5;
}
.news__item-text {
  margin-bottom: 1.85vh;
  color: #333;
}
.news__item-btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  background-color: #8d86c9;
  max-width: 137px;
  margin-top: auto;
  transition: all 200ms linear;
}
.news__item-btn:hover {
  opacity: 0.8;
}

.header-club {
  text-align: center;
  background: url(../img/about_header_back.jpg) no-repeat;
  background-size: cover;
  padding: 2.8vh 0 5.6vh;
  position: static;
  margin-bottom: 7.4vh;
}

.slider {
  margin-bottom: 13.9vh;
}
.slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.7vh;
}
.slider__title {
  color: #333;
}
.slider__arrows {
  display: flex;
  gap: 15px;
}
.slider__arrows-item {
  width: 45px;
  height: 45px;
  background-color: #8d86c9;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__arrows-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.slider__arrows-item:first-child {
  background-image: url(../img/vector/trainer_arrows_left.svg);
}
.slider__arrows-item:last-child {
  background-image: url(../img/vector/trainer_arrows_right.svg);
}
.slider__content {
  position: relative;
  padding: 30px 25px;
  border: 1px solid #f7ece1;
  width: -moz-min-content;
  width: min-content;
  align-self: center;
  margin: 0 auto;
}
.slider__content-img {
  width: min(90vw, 1256px);
}
.slider__content-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  position: absolute;
  z-index: 1;
  left: 5%;
  bottom: 13%;
  padding: 10px 20px;
  background-color: #8d86c9;
}
.slider__content-btn:hover {
  opacity: 0.9;
}

.club-about {
  margin-bottom: 13.9vh;
}
.club-about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.club-about__left {
  margin-right: -86px;
  z-index: 2;
}
.club-about__right {
  padding: 70px 60px 84px 146px;
  background-color: #f7ece1;
  max-width: 856px;
  color: #333;
}
.club-about__title {
  margin-bottom: 2.3vh;
}
.club-about__text {
  line-height: 140%;
  margin-bottom: 3.24vh;
}
.club-about__list {
  display: flex;
  gap: 20px;
  padding-left: 30px;
}
.club-about__list-item {
  display: flex;
  align-items: center;
  gap: 17px;
}
.club-about__list-item-text {
  font-weight: 700;
  line-height: 140%;
  min-width: 132px;
}

.rules {
  color: #333;
  margin-bottom: 11.1vh;
}
.rules__title {
  margin-bottom: 7.4vh;
}
.rules__block {
  display: flex;
  gap: 74px;
}
.rules__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 1.7em;
}
.rules__list-item {
  min-width: 366px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  transition: all 200ms ease-in;
}
.rules__list-item:hover {
  transform: translate(15px);
  cursor: pointer;
  color: #8d86c9;
}
.rules__content-list {
  list-style: none;
}
.rules__content-list:not(:last-child) {
  margin-bottom: 3.7vh;
}
.rules__content-item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 2.3vh;
}
.rules__content-item-text {
  margin-bottom: 2.3vh;
  line-height: 140%;
}
.rules__content-rule {
  display: flex;
  align-items: center;
  gap: 15px;
}
.rules__content-rule:not(:last-child) {
  margin-bottom: 1.4vh;
}
.rules__content-rule::before {
  display: inline-flex;
  background: #8d86c9;
  width: 15px;
  height: 3px;
  content: "";
}

.footer {
  background-color: #f7ece1;
  color: #333;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
.footer__text {
  opacity: 0.3;
}
.footer__list {
  display: flex;
  gap: 2.08vw;
}
.footer__list-item {
  transition: all 200ms linear;
  border-bottom: 2px solid transparent;
}
.footer__list-item:hover {
  border-color: inherit;
}
.footer__social {
  display: flex;
  gap: 1.04vw;
}
.footer__social-item {
  transition: all 200ms linear;
}
.footer__social-item:hover {
  transform: scale(1.2);
}

@media (max-width: 1350px) {
  .news .container {
    grid-row-gap: 12px;
    grid-column-gap: 12px;
  }
  .news__item {
    padding: 15px 20px;
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 21px;
  }
  .top {
    padding-top: 25.3vh;
  }
  .top__title {
    max-width: 550px;
  }
  .top__list {
    justify-content: center;
    gap: 5px;
  }
  .top__list-item {
    padding: 15px 0 20px 15px;
    max-width: 200px;
  }
  .top__list-category {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
  }
  .top__list-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
  .top__list-link::after {
    right: 7px;
    bottom: 10px;
  }
  .advantages .container {
    gap: 10px;
  }
  .advantages__item {
    padding: 20px 15px;
  }
  .advantages__item-img {
    max-width: 320px;
  }
  .advantages__item-text {
    bottom: 4rem;
    margin: 0 15px;
  }
  .trainer {
    margin: 0 auto 13.9vh;
  }
  .price_services .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 100px;
  }
  .price_services .price {
    display: block;
  }
  .price_services .services {
    display: block;
    width: 80%;
  }
  .price_services .services__content {
    width: -moz-fit-content;
    width: fit-content;
  }
  .news .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1100px) {
  .advantages .container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__list {
    text-align: left;
  }
  .about__left {
    margin: 0 0 -60px;
  }
  .about__left img {
    max-width: 90vw;
  }
  .about__right {
    padding: 70px 15px 40px;
    max-width: 780px;
  }
}
@media (max-width: 900px) {
  .footer .container {
    justify-content: space-around;
  }
  .footer__list {
    display: none;
  }
  .trainer__item {
    width: 186px;
  }
  .trainer__item-img {
    padding: 0 10px;
  }
}
@media (max-width: 810px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .header .logo {
    margin: 0 auto;
  }
  .header .menu__list {
    position: absolute;
    background-color: #8d86c9;
    width: 100vw;
    height: -moz-min-content;
    height: min-content;
    left: 0;
    top: -100vh;
    flex-direction: column;
    padding: 100px 0 50px;
    font-size: 28px;
    z-index: 1;
    transition: all 500ms linear;
  }
  .header .menu__list-item {
    padding: 5px 0;
    width: 100vw;
    text-align: center;
    border: none;
    cursor: none;
  }
  .header .menu__list-item:hover {
    transform: none;
    border: none;
    cursor: none;
  }
  .header .social {
    position: absolute;
    left: -100px;
    z-index: 1;
    transition: all 500ms linear;
  }
  .header .social__item:hover {
    transform: none;
    cursor: default;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    z-index: 1;
  }
  .header__burger-item {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: 200ms linear;
  }
  .top__title {
    max-width: 430px;
  }
  .top__list {
    max-width: 440px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .top__list-item {
    width: 200px;
  }
  .price__item:hover {
    transform: none;
  }
  .services__content-title {
    left: 7%;
    bottom: 15%;
  }
  .news .container {
    grid-template-columns: 1fr;
  }
  .news__item {
    padding: 10px 15px;
  }
}
@media (max-width: 600px) {
  .advantages__item-img {
    max-width: 90vw;
  }
  .services__content {
    padding: 20px 15px;
  }
  .services__content-img {
    max-width: 85vw;
  }
  .news__item-img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */