$primary-font: 14px;
$second-font: 18px;
$third-font: 36px;

$primary-line-height: 140%;

$second-color: #333;
$back-color: #8D86C9;

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin style-h2{
  font-weight: 700;
  font-size: 36px;
  line-height: $primary-line-height;
}

@mixin style-h3{
  font-weight: 700;
  font-size: 27px;
  line-height: $primary-line-height;
}

@mixin style-h4{
  font-weight: 600;
  font-size: 21px;
  line-height: $primary-line-height;
}

body{
  font-family: 'Gilroy', sans-serif;
  font-size: $primary-font;
  font-weight: 400;
  color: #E5E5E5;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  width: 100%;

  &__inner {
    @include flex-center();
    padding: 30px 0 30px ;

    .menu__list{
      display: flex;
      gap: 40px;
      align-items: center;
      height: 100%;

      &-item {
        transition: all 200ms linear;
      }

      &-item:hover {
        text-decoration: underline;
        transform: scale(1.2);
      }
    }
  }

  .social{
    display: flex;
    gap: 20px;

    &__item {
      transition: all 200ms linear;
    }

    &__item:hover {
      transform: scale(1.2);
    }
  }  
}

.main{
  flex-grow: 1;
}

.top {
  background-image: url(../img/top_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 306px;
  margin-bottom: 150px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: $primary-line-height;
    max-width: 565px;
    margin-bottom: 60px;
  }

  &__btn {
    font-weight: 600;
    font-size: $second-font;
    line-height: $primary-line-height;
    width: 268px;
    padding: 15px 0 15px 110px;
    text-align: left;
    position: relative;
    margin-bottom: 202px;

    &::before{
      content: url(../img/vector/top_btn.svg);
      position: absolute;
      left: 0;
      top: 0;
      transition: all 200ms linear;
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover::before {
      transform: scale(1.04)
    }
  }

  &__list {
    @include flex-center();

    &-item {
      width: 315px;
      background: $back-color;
      padding: 35px 0 40px 35px;
      position: relative;
      transition: all 200ms linear;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-category{
      font-weight: 600;
      font-size: $second-font;
      line-height: $primary-line-height;
      margin-bottom: 17px;
    }

    &-link{
      font-weight: 700;
      font-size: 24px;
      line-height: $primary-line-height;

      &::after {
        content: url(../img/vector/top_list-link.svg);
        position: absolute;
        right: 40px;
        transition: all 200ms linear;
      }

      &:hover {
        text-decoration: underline;
      }

      &:hover::after{
        transform: scale(1.2);
      }
    }
  }
}

.advantages {
  margin-bottom: 150px;

  &__inner {
    @include flex-center();
  }

  &__item {
    max-width: 416px;
    max-height: 500px;
    padding: 25px 20px 65px;
    border: 1px solid #F7ECE1;
    transition: all 300ms linear;

    &:hover{
      transform: scale(1.03);
    }
    &-text {
      font-weight: 700;
      font-size: 27px;
      line-height: $primary-line-height;
      text-align: center;
      margin: -115px auto 0;
    }
  }
}

.about {
  margin-bottom: 150px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    margin-right: -86px;
    z-index: 2;
  }

  &__right {
    padding: 70px 60px 84px 146px;
    background-color: #F7ECE1;
    max-width: 636px;
    color: $second-color;
  }

  &__title {
    font-weight: 700;
    font-size: $third-font;
    line-height: $primary-line-height;
    margin-bottom: 25px;
  }

  &__text {
    line-height: $primary-line-height;
    margin-bottom: 35px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 21px;
    line-height: $primary-line-height;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;

    &-item {
      position: relative;
    }

    &-item::before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: $back-color;
      position: absolute;
      left: -30px;
      top: 2px;
    }
  }
}

.trainer {
  margin-bottom: 150px;

  &__top {
    @include flex-center();
    margin-bottom: 77px;
  }

  &__title {
    font-weight: 700;
    font-size: $third-font;
    line-height: $primary-line-height;
    color: $second-color;
  }

  &__item{
    transition: all 300ms linear;
  }

  &__item:hover{
    transform: scale(1.03);
  }

  &__arrows {
    display: flex;
    gap: 15px;

    &-item {
      display: inline-block;
      height: 45px;
      width: 45px;
      background-color: $back-color;
      transition: all 200ms linear;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-item:hover{
      opacity: 0.8;
      cursor: pointer;
    }

    &-item:first-child{
      background-image: url(../img/vector/trainer_arrows_left.svg);
    }

    &-item:last-child{
      background-image: url(../img/vector/trainer_arrows_right.svg);
    }
  }


  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 196px;
    text-align: center;
    color: $second-color;
    line-height: $primary-line-height;


    &-img {
      border: 1px solid #F7ECE1;
      padding: 0 15px;
      margin-bottom: 25px;
    }

    &-title {
      font-weight: 600;
      font-size: 21px;
      margin: 0 auto 15px;
      max-width: min-content;
    }
  }
}

.price_services>.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.price {


		&__title {
      @include style-h2();
      margin-bottom: 75px;
      color: $second-color;
		}

		&__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
		}

		&__item {
      width: 526px;
      background-color: $back-color;
      transition: all 200ms linear;

      &:hover{
        transform: translate(-1.5%) scale(1.03);
      }

      &-link{
      padding: 15.5px 15px 15.5px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

			&-text {
        @include style-h4();
			}

			&-arrow {
        content: url(../img/vector/trainer_arrows_left.svg);
			}
		}
}
.services {

		&__top {
      @include flex-center();
      margin-bottom: 105px;
		}

		&__title {
      @include style-h2();
      color: $second-color;
		}

		&__arrows {
      display: flex;
      gap: 15px;

			&-item {
        width: 45px;
        height: 45px;
        background-color: $back-color;
        background-position: center;
        background-repeat: no-repeat;
			}

      &-item:hover{
        opacity: 0.8;
        cursor: pointer;
      }
  
      &-item:first-child{
        background-image: url(../img/vector/trainer_arrows_left.svg);
      }
  
      &-item:last-child{
        background-image: url(../img/vector/trainer_arrows_right.svg);
      }
		}

		&__content {
      position: relative;

			&-img {
			}

			&-title {
        @include style-h3();
        position: absolute;
        z-index: 1;
        left: 40px;
        bottom: 30px;
			}
		}
}


.footer{
  background-color: #F7ECE1;
  color: #333;

  &__inner {
    @include flex-center();
    padding: 30px 0 30px;
  }

  &__text {
    opacity: 0.3;
  }

  &__list {
    display: flex;
    gap: 40px;

    &-item {
      transition: all 200ms linear;
    }

    &-item:hover {
      text-decoration: underline;
      transform: scale(1.2);
    }
  }

  &__social {
    display: flex;
    gap: 20px;

    &-item {
      transition: all 200ms linear;
    }

    &-item:hover {
      transform: scale(1.2);
    }    
  }
}