body {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #E5E5E5;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px;
}
.header__inner .menu__list {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 100%;
}
.header__inner .menu__list-item {
  transition: all 200ms linear;
}
.header__inner .menu__list-item:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.header .social {
  display: flex;
  gap: 20px;
}
.header .social__item {
  transition: all 200ms linear;
}
.header .social__item:hover {
  transform: scale(1.2);
}

.main {
  flex-grow: 1;
}

.top {
  background-image: url(../img/top_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 306px;
  margin-bottom: 150px;
}
.top__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  max-width: 565px;
  margin-bottom: 60px;
}
.top__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  width: 268px;
  padding: 15px 0 15px 110px;
  text-align: left;
  position: relative;
  margin-bottom: 202px;
}
.top__btn::before {
  content: url(../img/vector/top_btn.svg);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 200ms linear;
}
.top__btn:hover {
  text-decoration: underline;
}
.top__btn:hover::before {
  transform: scale(1.04);
}
.top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__list-item {
  width: 315px;
  background: #8D86C9;
  padding: 35px 0 40px 35px;
  position: relative;
  transition: all 200ms linear;
}
.top__list-item:hover {
  transform: scale(1.05);
}
.top__list-category {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 17px;
}
.top__list-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.top__list-link::after {
  content: url(../img/vector/top_list-link.svg);
  position: absolute;
  right: 40px;
  transition: all 200ms linear;
}
.top__list-link:hover {
  text-decoration: underline;
}
.top__list-link:hover::after {
  transform: scale(1.2);
}

.advantages {
  margin-bottom: 150px;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__item {
  max-width: 416px;
  max-height: 500px;
  padding: 25px 20px 65px;
  border: 1px solid #F7ECE1;
  transition: all 300ms linear;
}
.advantages__item:hover {
  transform: scale(1.03);
}
.advantages__item-text {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  text-align: center;
  margin: -115px auto 0;
}

.about {
  margin-bottom: 150px;
}
.about__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__left {
  margin-right: -86px;
  z-index: 2;
}
.about__right {
  padding: 70px 60px 84px 146px;
  background-color: #F7ECE1;
  max-width: 636px;
  color: #333;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 25px;
}
.about__text {
  line-height: 140%;
  margin-bottom: 35px;
}
.about__subtitle {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 25px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}
.about__list-item {
  position: relative;
}
.about__list-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #8D86C9;
  position: absolute;
  left: -30px;
  top: 2px;
}

.trainer {
  margin-bottom: 150px;
}
.trainer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;
}
.trainer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333;
}
.trainer__item {
  transition: all 300ms linear;
}
.trainer__item:hover {
  transform: scale(1.03);
}
.trainer__arrows {
  display: flex;
  gap: 15px;
}
.trainer__arrows-item {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: #8D86C9;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
}
.trainer__arrows-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.trainer__arrows-item:first-child {
  background-image: url(../img/vector/trainer_arrows_left.svg);
}
.trainer__arrows-item:last-child {
  background-image: url(../img/vector/trainer_arrows_right.svg);
}
.trainer__list {
  display: flex;
  justify-content: space-between;
}
.trainer__item {
  max-width: 196px;
  text-align: center;
  color: #333;
  line-height: 140%;
}
.trainer__item-img {
  border: 1px solid #F7ECE1;
  padding: 0 15px;
  margin-bottom: 25px;
}
.trainer__item-title {
  font-weight: 600;
  font-size: 21px;
  margin: 0 auto 15px;
  max-width: -moz-min-content;
  max-width: min-content;
}

.price_services > .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.price__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 75px;
  color: #333;
}
.price__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.price__item {
  width: 526px;
  background-color: #8D86C9;
  transition: all 200ms linear;
}
.price__item:hover {
  transform: translate(-1.5%) scale(1.03);
}
.price__item-link {
  padding: 15.5px 15px 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__item-text {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}
.price__item-arrow {
  content: url(../img/vector/trainer_arrows_left.svg);
}

.services__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333;
}
.services__arrows {
  display: flex;
  gap: 15px;
}
.services__arrows-item {
  width: 45px;
  height: 45px;
  background-color: #8D86C9;
  background-position: center;
  background-repeat: no-repeat;
}
.services__arrows-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.services__arrows-item:first-child {
  background-image: url(../img/vector/trainer_arrows_left.svg);
}
.services__arrows-item:last-child {
  background-image: url(../img/vector/trainer_arrows_right.svg);
}
.services__content {
  position: relative;
}
.services__content-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  position: absolute;
  z-index: 1;
  left: 40px;
  bottom: 30px;
}

.footer {
  background-color: #F7ECE1;
  color: #333;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px;
}
.footer__text {
  opacity: 0.3;
}
.footer__list {
  display: flex;
  gap: 40px;
}
.footer__list-item {
  transition: all 200ms linear;
}
.footer__list-item:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__social-item {
  transition: all 200ms linear;
}
.footer__social-item:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */